body {
    margin: 0;
}

/*NAVIGATION*/
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    overflow: hidden;
    background-color: #101c2e;
    z-index: 1;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) {
    color: #5795f2;
}

